body{
  background-image: url(../images/new2.jpeg);
  background-size: cover;
  background-size: cover;
background-color:  #e8e8e8;;
}
form{
    width: auto;
}
.maincontainer{
  backdrop-filter: blur(5px);
  height: 100vh;
}

.colorful-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f557;
  /* background-color: #f5f5f5; */
}

.form-group {
  margin-bottom: 20px;
}
#maths{
  text-align: left;
  color: #ffffffa3;
  font-size: 15px;
}
hr{
  border-color: #ffffffa3;
  border-radius: 10px;
 
}
.logo{
  height: 60px;
  position: fixed;
  filter: brightness(100);
  
}
b{
  color: #ffffffa3;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffffa3;
  text-align: center;
  font-size: 20px;
}

.form-input {
  width: 95%;
  padding: 10px;
  border: none;
  background-color: #ffffff84;
  backdrop-filter: blur(5px);
  color: #c8bebe;
  border-radius: 5px;
  outline: none;
}


textarea.form-input {
  height: 100px;
}


.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgba(243, 243, 244, 0.349);
  color: #081b37;
  font-weight: 600;
  width: auto;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form-button:hover{
  background-color: rgb(7, 11, 40);
  color: #ffffffa3;
}
select{
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #656363a3;
  background-color: #ffffff84;
  padding: 10px;
}
option{
  background-color: rgb(11, 6, 40);
  color: #fff;
}




.swal2-popup{
  background-size: cover;
  backdrop-filter: blur(5px);
  background-color: #f5f5f5; ;
  border-radius: 20px;
}

h2#swal2-title.swal2-title{
  color:rgb(5, 5, 35)
  
 

 
}
div#swal2-html-container.swal2-html-container {
  color: rgb(5, 5, 35);
  
}

div:where(.swal2-container) div:where(.swal2-popup) {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  border-radius: 5px;
  background: #c1baba;
  color: rgb(5, 5, 35);
  font-family: inherit;
  font-size: 1rem;
  
}





.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  display: block;
  position: absolute;
  top: 2.3125em;
  width: 2.9375em;
  height: 0.3125em;
  border-radius: 0.125em;
  background-color:rgb(5, 5, 35)
  

}


  .swal2-icon.swal2-error {
    border-color: rgb(5, 5, 35);
    backdrop-filter: blur(5px);
   
  }
  .swal2-icon.swal2-success {
    border-color: rgb(5, 5, 35);
    backdrop-filter: blur(5px);
   
  }
  button.swal2-confirm.swal2-styled,.swal2-cancel.swal2-styled {
    border:1px solid gray ;
    border-radius: 8px;
    background: initial;
    backdrop-filter: blur(50px);
    color:#fff;
    background-color: rgb(5, 5, 35);
    width: 90px;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
   -webkit-box-shadow: -3px -3px 5px white, 3px 3px 5px rgba(209, 209, 209, 0.705);
            box-shadow: -3px -3px 5px white, 3px 3px 5px rgba(209, 209, 209, 0.705);
  
  
    
  }
 

  div.swal2-container.swal2-center.swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
       background: none;
}
 /* Additional CSS for styling */
 .password-container {
  position: relative;
}

#password {
  padding-right: 10px; /* Adjust the padding as needed */
}

#togglePassword {
  position: absolute;
  right: 5px; /* Adjust the left position as needed */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
}
@media (max-width:450px){
  .form-label{
    font-size: 14px;
  }
}